.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.content {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 20px;
    margin-top: 20px;
}

.centering {
    text-align: center;
}